@model EIMS.Models.RoomViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            Possibilities:
        </dt>
        <dd>
            @foreach (var item in Model.Possibilities)
            {
                if (Model.SelectedPossibilities != null
                    && Model.SelectedPossibilities.Contains(item.ID))
                {@item.Name@:;
                }

            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
