@model IEnumerable<EIMS.Models.GroupInfoViewModel>

@{
    ViewBag.Title = "Groups";
}

<h3>Groups</h3>

<p>
    @Html.ActionLink("Add new group", "Create")
</p>
<div id="scrollTable">
    <div class="row">
        @*<div class="col-md-1"><strong>@Html.DisplayNameFor(model => model.ID)</strong> </div>*@
        <div class="col-md-1"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
        <div class="col-md-1"><strong>@Html.DisplayNameFor(model => model.Faculty)</strong></div>
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Supervisor)</strong></div>
        <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Elder)</strong></div>
        <div class="col-md-3"><strong>Options</strong></div>
    </div>
    
    @Html.Partial("_GetGroupsListPartial")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/SubjectInfinityScroll.js")
}
