@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Select Page";
}
@if (User.IsInRole("Admin"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
            <br /><br /><br />
            <ul class="nav navbar-left" style="font-size:24px">
                <li>@Html.ActionLink("Users", "GetAllUsers", "Admin")</li>
                <li>@Html.ActionLink("Teachers", "Index", "Teacher")</li>
                <li>@Html.ActionLink("Subjects", "Index", "Subject")</li>
                <li>@Html.ActionLink("Rooms", "Index", "Room")</li>
                <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                <li>@Html.ActionLink("Faculties", "Index", "Faculty")</li>
                <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                <li>@Html.ActionLink("Schedule", "Schedule", "Admin")</li>
            </ul>
        </div>
    </aside>
}
else if (User.IsInRole("Superuser"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
            <br /><br /><br />
            <ul class="nav navbar-left" style="font-size:24px">
                <li>@Html.ActionLink("User", "Users", "Admin")</li>
                <li>@Html.ActionLink("Subject", "Subjects", "Admin")</li>
                <li>@Html.ActionLink("Room", "Rooms", "Admin")</li>
                <li>@Html.ActionLink("Group", "Groups", "Admin")</li>
            </ul>
        </div>
    </aside>
}
else if (User.IsInRole("Teacher"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
        </div>
    </aside>
}
else if (User.IsInRole("Student"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
        </div>
    </aside>
}

