@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Select Page";
}
@if (User.IsInRole("Admin"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
            <br /><br /><br />
            <ul class="nav navbar-left" style="font-size:24px">
                <li>@Html.ActionLink("User", "Users", "Admin")</li>
                <li>@Html.ActionLink("Subject", "Subjects", "Admin")</li>
                <li>@Html.ActionLink("Room", "Rooms", "Admin")</li>
                <li>@Html.ActionLink("Course", "Courses", "Admin")</li>
                <li>@Html.ActionLink("Faculty", "Facultys", "Admin")</li>
                <li>@Html.ActionLink("Group", "Groups", "Admin")</li>
                <li>@Html.ActionLink("Schedule", "Schedule", "Admin")</li>
            </ul>
        </div>
    </aside>
}
else if (User.IsInRole("Superuser"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
            <br /><br /><br />
            <ul class="nav navbar-left" style="font-size:24px">
                <li>@Html.ActionLink("User", "Users", "Admin")</li>
                <li>@Html.ActionLink("Subject", "Subjects", "Admin")</li>
                <li>@Html.ActionLink("Room", "Rooms", "Admin")</li>
                <li>@Html.ActionLink("Group", "Groups", "Admin")</li>
            </ul>
        </div>
    </aside>
}
else if (User.IsInRole("3"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
        </div>
    </aside>
}
else if (User.IsInRole("4"))
{
    <aside class="col-md-2">
        <div class="navbar navbar-pills nav-stacked navbar-left">
        </div>
    </aside>
}

