@model IEnumerable<EIMS.Models.SubjectInfoViewModel>


@foreach (var item in Model)
{
    <div class="row" style="font-size:16px">
        <div class="col-md-2" >
            @Html.DisplayFor(modelItem => item.ID)
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </div>
    </div>

}


