@model IEnumerable<EIMS.Models.SubjectInfoViewModel>

@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul class="list-inline" id="scrollTable">
    <li class="col-md-2">
        <strong>@Html.DisplayNameFor(model => model.ID)</strong>
    </li>
    <li class="col-md-4">
        <strong>@Html.DisplayNameFor(model => model.Name)</strong>
    </li>
    <li class="col-md-2"></li>
        @Html.Partial("GetSubjectList_Partial")
</ul>

    @section Scripts {
        @Scripts.Render("~/Scripts/SubjectInfinityScroll.js")
    }
