@model IEnumerable<EIMS.Models.SubjectInfoViewModel>

@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<dl class="dl-horizontal table-bordered" id="scrollTable">
    <dd class="col-md-2">
        <strong>@Html.DisplayNameFor(model => model.ID)</strong>
    </dd>
    <dd class="col-md-4">
        <strong>@Html.DisplayNameFor(model => model.Name)</strong>
    </dd>
    <dd class="col-md-2"></dd>
    @Html.Partial("GetSubjectList_Partial")
</dl>

    @section Scripts {
        @Scripts.Render("~/Scripts/SubjectInfinityScroll.js")
    }
