@model IEnumerable<EIMS.Models.CourseFillViewModel>

@foreach (var item in Model)
{
    <div class="container">
        <div class="well">
            <span class="col-md-2">@Html.DisplayFor(modelItem => item.courseName)</span>
            <span class="col-md-2">@Html.DisplayFor(modelItem => item.subjectName)</span>
            <span class="col-md-2">@Html.DisplayFor(modelItem => item.SubjectHoursPerWeek)</span>
            <span>
                @Html.ActionLink("Edit", "EditCourseFill", new { courseID = item.courseID, subjectID = item.subjectID }) |
                @Html.ActionLink("Delete", "DeleteCourseFill", new { courseID = item.courseID, subjectID = item.subjectID })
            </span>
        </div>
    </div>
}