@model EIMS.Models.CourseFillViewModel
@{
    ViewBag.Title = "Course Fill";
}

<h2>@Html.LabelFor(model=>model.SelectCourse.CourseName)</h2>

<p>
    @Html.ActionLink("Create New", "CreateCourseFill", new { id = Model.SelectCourse.CourseID })
</p>
<div class="container well">
    <div class="col-md-2" style="display: inline">
        <span>@Html.DisplayNameFor(model => model.SubjectName)</span>
    </div>
    <div class="col-md-2" style="display: inline">
        <span>@Html.DisplayNameFor(model => model.SubjectHoursPerWeek)</span>
    </div>
</div>
<div id="ScrollList">
    @Html.Partial("GetCourseFill")
</div>
<p>
    @Html.ActionLink("Back to Details", "DetailCourse", "Course", new { id = Model.SelectCourse.CourseID })
</p>
@section Scripts {
    @Scripts.Render("~/Scripts/CourseFillInfinityScrolling.js")
}