@model EIMS.Models.GroupCoursViewModel
@{
    ViewBag.Title = "Group in Course";
}

<h3>@Model.SelectCourse.CourseName groups</h3>

<p>
    @Html.ActionLink("Create New", "CreateGroupCourse", new { id = Model.SelectCourse.CourseID })
</p>
<div id="ScrollList">
    <div class="row">
        <div class="col-md-2">
            <strong> @Html.DisplayNameFor(model => model.GroupName)</strong>
        </div>
        <div class="col-md-2">
            <strong>  @Html.DisplayNameFor(model => model.StartDate)</strong>
        </div>
        <div class="col-md-2">
            <strong> @Html.DisplayNameFor(model => model.EndDate)</strong>
        </div>
        <div class="col-md-4"><strong>Options</strong></div>
    </div>
    @Html.Partial("GetGroupCourse")
</div>
<p>
    @Html.ActionLink("Back to Details", "DetailCourse", "Course", new { id = Model.SelectCourse.CourseID }, null)
</p>
@section Scripts {
    @Scripts.Render("~/Scripts/GroupCoursenfinityScrolling.js")
}