@model EIMS.Models.UserInfoViewModel

@{
    ViewBag.Title = "Delete User";
}

<h3>Delete User: @Model.Name @Model.Surname, @Model.Role</h3>

<h4>Are you sure you want to delete this?</h4>
<div>
    @Html.ActionLink("Back to List", "GetAllUsers")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
