
@{
    ViewBag.Title = "Faculties";
    int i = 0;
}

<h3>Faculties</h3>
<div>
    <p>
        @Html.ActionLink("Create New", "CreateFaculty", "Faculty")
    </p>
    @switch (i)
    {
        case 0:
            @Html.Partial("GetFaculties");
            break;
        case 1:
            @Html.Partial("CreateFaculty");
            break;
        case 2:
            @Html.Partial("EditFaculty");
            break;
        case 3:
            @Html.Partial("DetailsFaculty");
            break;
        default:
            break;
    }
</div>

