@model IEnumerable<EIMS.Models.FacultyViewModel>
@{
    ViewBag.Title = "Faculties";
}

<h2>Faculties</h2>

<p>
    @Html.ActionLink("Create New", "CreateFaculty")
</p>
<div id="ScrollList">
    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.FacultyID)</strong>
        </div>
        <div class="col-md-4">
            <strong>@Html.DisplayNameFor(model => model.Name)</strong>
        </div>
        <div class="col-md-4"><strong>Options</strong></div>
    </div>
    @Html.Partial("GetFaculties")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/FacultyInfinityScrolling.js")
}