@model EIMS.Models.CourseViewModel

@{
    ViewBag.Title = "DetailCourse";
    
}

<h3>Detail Course</h3>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>
    @Html.ActionLink("To Course Fill", "Index", "CourseFill", new { courseID = Model.CourseID }, null)
    @*@Html.ActionLink("To Course Fill", "Index", "CourseFill", new { courseID = Model.CourseID})*@
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
