@model EIMS.Models.CourseViewModel

@{
    ViewBag.Title = "DetailCourse";
    Dictionary<string, int> dct = Model.SubjectByHours;
}

<h3>Detail Course</h3>

<p>
    @Html.ActionLink("Create New", "CreateCourseFill")
</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>
    @if (dct.Count > 0)
    {
        for (int i = 0; i < dct.Count; i++)
        {
            foreach (var kv in dct)
            {
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayFor(modelItem => kv.Key) :</dt>
                    <dd>@Html.DisplayFor(modelItem => kv.Value)</dd>
                </dl>
            }
        }
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
