@model IEnumerable<EIMS.Models.CourseViewModel>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "CreateCourse")
</p>
<div id="ScrollList">
    <div class="row">
        <div class="col-md-2">
            <span>@Html.DisplayNameFor(model=>model.CourseID)</span>
        </div>
        <div class="col-md-4">
            <span>@Html.DisplayNameFor(model => model.CourseName)</span>
        </div>
        <div class="col-md-4"><strong>Options</strong></div>
    </div>
    @Html.Partial("GetCourse")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/CourseInfinityScrolling.js")
}