@model IEnumerable<EIMS.Models.CourseViewModel>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "CreateCourse")
</p>
<div class="container well">
    <div class="col-md-4" style="display: inline">
        <span>@Html.DisplayNameFor(model=>model.CourseID)</span>
    </div>
    <div class="col-md-4" style="display: inline">
        <span>@Html.DisplayNameFor(model => model.CourseName)</span>
    </div>
</div>
<div id="ScrollList">
    @Html.Partial("GetCourse")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/CourseInfinityScrolling.js")
}