@model EIMS.Models.StudentScheduleViewModel

@{
    ViewBag.Title = "Personal Schedule";
}

<h3>Personal Schedule</h3>
<h4>Group: @Model.GroupName</h4>

<div>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <td></td>
                @foreach (var item in Model.Days)
                {
                    <td><strong>@item.Name</strong></td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order)
            {
                <tr>
                    <td>@item.timeStart - @item.timeEnd</td>
                    @{
                        Model.tmpList = Model.LessonList.Where(les => les.OrderID == item.lessonOrderID).OrderBy(l => l.DayID);
                    }
                    @{
                        var arr = Model.tmpList.ToArray();
                        for (int i = 0; i < Model.Days.ToArray().Length; i++)
                        {

                        }
                        foreach (var les in Model.Days)
                        {
                            var l = Model.tmpList.Where(u => u.DayID == les.ID).FirstOrDefault();
                            if (l != null)
                            {
                                
                                    <td> @l.Subject  - @l.RoomNo  - @l.GroupName </td>
                               

                            }
                            else
                            {
                                <td> </td>
                            }
                        }

                    }


                </tr>
                        }
        </tbody>
    </table>

</div>